/*Estilos para index*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #181419;
    color: white;
}
/*Para el encabezado*/
.header {
    background-color: #e34d66de;
    color: white;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
    /*Contenedor general navegación*/
    .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        padding: 1.5rem 0;
        /*Elemento anclalogo*/
        .anclaLogo {
            text-decoration: none;
            color: white;
            font-weight: 700;
            font-size: 1.2rem;
            &:hover{ 
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }
        /*Elemento ListaNav*/
        .listaNav{
            list-style: none;
            display:flex;
            align-items: center;
                .listaItem{
            margin-right: 20px;
                    .linkNav{
            text-decoration: none;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            transition: transform 0.3s, box-shadow 0.3s;
            /*Activamos borde al posicionarse en el elemento*/
            transition: transform 0.3s, box-shadow 0.3s;
            &:hover{
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                            }
                }
                .linkNav.iniciarSesion{
                    background-color: #181419;
                    color: white;
                    border-radius: 5px;
                    transition: transform 0.3s, box-shadow 0.3s;
                    &:hover{
                        background-color: #ce4259e4;
                    }
                }
            }
        }
    }
}

/*Mediaqueris para header*/
@media (max-width: 768px){
    .header{
        height: initial;
        .navegacion{
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
            row-gap: 20px; /*Dar espaciado a la fila*/
            .anclaLogo{
                font-weight: 700;
                font-size: 1.2rem;
            }
            .listaNav{
                padding: initial;
                .listaItem{
                    .linkNav{
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 0.9rem;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }
}

/*Estilos para iniciarsesion*/
.bodyregistrarse{
    height: 100vh; /*Ver esta unidad de medida*/
    background: linear-gradient(to right top, #24242473, #24242473),/*url("../assets/img/bg-register.jpg")*/; /*ver esto y no tengo esa imagen aún*/
    background-size: cover;
    background-position: center;
    .headerRegistrarse{
        color: #ffffff;
        height: 8vh;
        padding: 30px;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }
    }
}
.main{
    .seccionRegistrarse{
        background-color:rgb(42, 42, 42);
        width: 30%;
        margin:0 auto;
        border-radius: 5px;
        padding: 40px 20px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        font-size:1.2rem;
        .tituloRegistrarse{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }
}
form{
    width: 100%;
    padding:40px;
    input:not(.check,.boton),select{
        width: 100%;
        margin-bottom: 10px;
        height: 40px;
        padding: 0px 20px;
        font-size: 1.2rem;
        border-radius: 20px;
        border: 2px solid #9f3647;
        background-color: #333333;
        outline: none;
        color:rgb(255, 255, 255);
    }
    .error input:not(.check,.boton),.error select{
        border: 1px solid #ff0000;
    }
    .error-text{
        color: #ff0000;
        font-size: 0.8rem;
        margin-top:0px;
        margin-bottom: 10px;
    }
  
    .terminos{
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .textoCheck{
            margin-left: 10px;
        }
    }
    .boton{
        width: 87%;
        box-sizing: content-box;
        background-color:#9f3647;
        border: 2px solid #9f3647;
        color: #ffffff;
        padding: 1rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
       
    }
    .ayuda{
        margin-top:40px;
        font-size: 1rem;
        text-decoration: none;
        color: #787878;
        font-weight:400;
       
    }
}
/*Mediaqueris para iniciarsesionr*/
@media (max-width: 768px){
    .headerbodyRegistrarse{
        height: initial;
        .headerRegistrarse{
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
            row-gap: 20px; /*Dar espaciado a la fila*/
            .anclaLogo{
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
    }
}